{% extends 'base.html'%}

{% block head%}
{% load static %}
<title>Login</title>
<style>
    body{
        background: #ebeaea !important;
    }
</style>
{% endblock %}

{% block body %}
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 mb-30 alert alert-info text-center">{{message}}</div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 mb-30">
                <form action="{% url 'App_UserProfile:UserRegister' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>
                        <div class="row">
                            <!-- <div class="col-md-6 col-12 mb-20">
                                <label>First Name</label>
                                <input class="mb-0" type="text" name="fname" placeholder="First Name">
                            </div> -->
                            <div class="col-md-12 col-12 mb-20">
                                <label>User Name</label>
                                <input class="mb-0" type="text" name="username" placeholder="Last Name">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Email Address*</label>
                                <input class="mb-0" type="email" name="email" placeholder="Email Address">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Phone No*</label>
                                <input class="mb-0" type="number" name="phone" placeholder="Phone No">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Password</label>
                                <input class="mb-0" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Confirm Password</label>
                                <input class="mb-0" type="password" name="confPassword" placeholder="Confirm Password">
                            </div>
                            <div class="col-12">
                                <!-- <button type="submit" class="register-button mt-0">Register</button> -->
                                <button type="submit">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
{% endblock %}